@import url(https://fonts.googleapis.com/css?family=Montserrat:500);
@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");

h1 {
  text-align: left;
  font-size: 3.5rem;
  margin-left: 15%;
  @media only screen and (max-width: 768px) {
    font-size:1.875rem;
    margin-left: 0%;
    }
}
h2 {
  font-family: 'Playfair Display', serif;
  text-align: left;
  padding-left: 10rem;
  padding-right: 10rem;
  font-size: 1.5rem;
  padding-bottom: 20px;
  @media only screen and (max-width: 768px) {
    font-size:1.875rem;
    }
}
h3 {
  font-family: 'Playfair Display', serif;
  text-align: left;
  font-size: 1.4rem;
  font-style:italic;
  @media only screen and (max-width: 768px) {
    font-size:1.875rem;
    }
}

.item-header {
  grid-area: header;
  /* font-family: 'Silkscreen', sans-serif; */
  font-weight: lighter;
  /* background:#F7F9F7; */
  height: 6.25rem;
  display: grid;
  align-items: center;
}
.item-main {
  /* Main padding starts here */
  padding-top: 7rem;
  grid-area: main;
  margin: 5rem;
  margin-top:0;
}
.item-footer {
  grid-area: footer;
  background: var(--contact-bg-color);
  color: var(--contact-text-color);
  padding-top: 4rem;
}

.grid-container {
  display: grid;
  /* gap: 0.625rem; */
}

.grid {
  grid-template-areas:
    'header'
    'main'
    'footer';
}

@media only screen and (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-areas:
      'header'
      'main'
      'footer';
  }
}

/* nav */
.nav-link {
  font-family: 'Cormorant Garamond', serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(74, 76, 82);
  /* color: #F7F9F7; */
}

.nav-link:hover, a:active, nav.active {
  color: #000000; 
  /* color: white; */
  /* border-bottom: 2px solid; */
  text-decoration: none;
  /* padding-bottom: .05em; */
}

.nav.active {
  color: #000000; 
  /* border-bottom: 2px solid; */
  text-decoration: none;
  /* padding-bottom: .05em; */
}

.navbar-expand-sm {
  justify-content: right;
}

.navbar {
  padding-top: 0 !important;
  margin-right: 10px !important;
}

/*menu nav button*/
:root {
  --bg-color: #F7F9F7; /* Default background color for light mode */
  --text-color: black;   /* Default text color for light mode */
  --svg-color: hsl(0, 0%, 12%); /* Default nav toggle color for light mode */
  --contact-bg-color: #313131;
  --contact-text-color: white;
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Playfair Display', serif;
}

#overlay {
  position: fixed;
  display: none; 
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2); /* Black background with opacity */
  z-index: 4;
  cursor: pointer;
}

  .col-6 {
    display: flex;
    justify-content: center; 
    align-items: center; 
  }

  .wrapper {
    margin-top: 0;
    /* width: 100vw; */
    margin-left: 15%;
    @media only screen and (max-width: 768px) {
      margin-left: 0%;
      }
  }
  .wrapper span {
    font-size: 3rem;
    line-height: 1.2;
  }

  span.text {
    text-align: left;
    vertical-align: middle;
    font-size: 3rem;
  }

  span.cursor {
    font-size: 3rem;
    vertical-align: middle;
    -webkit-animation: blink 0.9s 15;
    -moz-animation: blink 0.9s 15;
    animation: blink 0.9s 15;
  }

  span.cursor.hidden {
    display: none; /* hide cursor after header is typed out */
  }

  @media (max-width: 768px) {
    .wrapper {
      margin-top: 0;
      text-align: left;
    }
    .wrapper span {
      font-size: 2.125rem;
    }
    .span.text {
        text-align: left;
      font-size: 1.375rem;
    }
  }
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .sticky {
    /* position: sticky; */
    position: fixed;
    z-index: 5;
  }

  * {
    box-sizing: border-box;
  }

  button {
    width: 17.5rem;
    aspect-ratio: 1;
    display: grid;
    scale: 1;
    position: relative;
    margin-left: 3.75rem;
    background: transparent;
    border: 0;
    border-radius: 50%;
    transition: background 0.2s;
    cursor: pointer;
    z-index: 6;
    @media only screen and (max-width: 768px) {
        margin-left: 0px !important;
    }
  }

  /* button:is(:hover, :focus-visible) {
    background: hsl(0, 0%, 93%);
    Dark mode
    background: #544F68;
  } */

  /* button:is(:focus-visible) {
    outline-color: hsl(320 80% 50% / 0.5);
    outline-offset: 1rem;
    outline-width: 4px;
  } */

  button svg:first-of-type {
    width: 65%;
  }

  button rect {
    transform-box: fill-box;
    transform-origin: 50% 50%;
    fill: var(--svg-color);
  }
  .unset rect {
    transform-box: unset;
  }
  [aria-pressed=true] rect { 
    transition: translate 0.2s, rotate 0.2s 0.3s;
  }
  rect {
    transition: rotate 0.2s 0s, translate 0.2s 0.2s;
  }

  [aria-pressed=true] rect:nth-of-type(1) {
    translate: 0 333%;
    rotate: -45deg;
  }
  [aria-pressed=true] rect:nth-of-type(2) {
    rotate: 45deg;
  }
  [aria-pressed=true] rect:nth-of-type(3) {
    translate: 0 -333%;
    rotate: 45deg;
  }
  [aria-pressed=true] svg {
    rotate: 90deg;
    transition: rotate 1s 0.4s;
  }

  @supports (--custom: linear()) {
    :root {
      --elastic-out: linear(
        0, 0.2178 2.1%, 1.1144 8.49%,
        1.2959 10.7%, 1.3463 11.81%,
        1.3705 12.94%, 1.3726, 1.3643 14.48%,
        1.3151 16.2%, 1.0317 21.81%,
        0.941 24.01%, 0.8912 25.91%,
        0.8694 27.84%, 0.8698 29.21%,
        0.8824 30.71%, 1.0122 38.33%, 1.0357,
        1.046 42.71%, 1.0416 45.7%,
        0.9961 53.26%, 0.9839 57.54%,
        0.9853 60.71%, 1.0012 68.14%,
        1.0056 72.24%, 0.9981 86.66%, 1
      );
      --elastic-in-out: linear(
        0, 0.0009 8.51%, -0.0047 19.22%,
        0.0016 22.39%, 0.023 27.81%,
        0.0237 30.08%, 0.0144 31.81%,
        -0.0051 33.48%, -0.1116 39.25%,
        -0.1181 40.59%, -0.1058 41.79%, -0.0455,
        0.0701 45.34%, 0.9702 55.19%,
        1.0696 56.97%, 1.0987 57.88%,
        1.1146 58.82%, 1.1181 59.83%,
        1.1092 60.95%, 1.0057 66.48%,
        0.986 68.14%, 0.9765 69.84%,
        0.9769 72.16%, 0.9984 77.61%,
        1.0047 80.79%, 0.9991 91.48%, 1
      );
    }
    [aria-pressed=true] svg {
      transition-timing-function: var(--elastic-out);
    }
  }

  .controls {
    position: fixed;
    top: 1rem;
    right: 1rem;
    display: flex;
    gap: 1rem;
    color: hsl(0 0% 98%);
    accent-color: hsl(0 0% 100%);
  }

  /*nav drawer*/
  * {
    box-sizing: border-box;
  }
  body {
    overflow-x: hidden !important;
    min-height: 100vh;
    left: 1.25rem;
  }
  :root {
    --height: 300;
    --width: 200;
    --depth: 150;
    --drawerSize: calc((var(--height) / 3) - 10);
    --drawerHole: calc((var(--height) - ((10 * 4) + (10 + 30))) / 3);
  }
  .chest {
    height: calc(var(--height) * 1px);
    transform: rotateX(-30deg) rotateY(40deg);
    transform-style: preserve-3d;
    width: calc(var(--width) * 1px);
    margin-left: 6em;
    margin-top: 10.25rem;
    @media only screen and (max-width: 768px) {
        margin-left: 5.5em;
        margin-top: 4em;
    }
  }
  .chest__panel {
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    width: 100%;
  }
  .chest__panel:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
  }
  .chest__panel--front {
    transform: translate3d(0, 0, calc(var(--depth) / 2 * 1px));
  }
  .chest__panel--front:after {
    background: #5b5b5b;
    content: '';
    height: 4px;
    position: absolute;
    top: -2px;
    width: 100%;
  }
  .chest__panel--front-frame {
    border: 10px solid #5b5b5b;
    border-bottom-width: 30px;
    border-top-width: 10px;
    transform: translate3d(0, 0, 0);
  }
  .chest__panel--front-frame:before {
    background: #5b5b5b;
    content: '';
    height: 20px;
    left: 0;
    position: absolute;
    top: calc(var(--drawerHole) * 1px);
    width: 100%;
  }
  .chest__panel--front-frame:after {
    background: #5b5b5b;
    content: '';
    height: 20px;
    left: 0;
    position: absolute;
    top: calc(var(--drawerHole) * 2px + 20px);
    width: 100%;
  }
  .chest__panel--back {
    background: #5b5b5b;
    transform: translate3d(0, 0, calc(var(--depth) / 2 * -1px));
  }
  .chest__panel--back:after {
    background: #000;
    transform: translate3d(0, 0, 1px);
  }
  .chest__panel--top {
    background: #474747;
    bottom: 100%;
    height: calc(var(--depth) * 1px);
    left: 0;
    transform: rotateX(90deg) translate3d(0, 50%, 1px);
    transform-origin: bottom;
    transform-style: preserve-3d;
  }
  .chest__panel--top:after {
    background: #1a1a1a;
    transform: translate3d(0, 0, -1px);
  }
  .chest__panel--bottom {
    background: #474747;
    height: calc(var(--depth) * 1px);
    left: 0;
    top: 100%;
    transform: translateY(-50%) rotateX(90deg);
  }
  .chest__panel--bottom:after {
    background: #0d0d0d;
    transform: translate3d(0, 0, 1px);
  }
  .chest__panel--right {
    background: #323232;
    right: 0;
    transform: translate3d(0, 0, calc(var(--depth) / 2 * 1px)) rotateY(-90deg);
    transform-origin: right center;
    width: calc(var(--depth) * 1px);
  }
  .chest__panel--right:after {
    background: #1a1a1a;
    transform: translate3d(0, 0, 1px);
  }
  .chest__panel--left {
    width: calc(var(--depth) * 1px);
    left: 0;
    background: #323232;
    transform-origin: left center;
    transform: translate3d(0, -1px, calc(var(--depth) / 2 * 1px)) rotateY(90deg);
  }
  .chest__panel--left:after {
    background: #1a1a1a;
    transform: translate3d(0, 0, 1px);
  }
  .chest-drawer {
    height: calc(var(--drawerSize) * 1px);
    left: 0;
    position: absolute;
    top: 0;
    transition: transform 0.25s;
    transform-style: preserve-3d;
    width: 100%;
  }
  .chest-drawer--top,
  .chest-drawer--middle,
  .chest-drawer--bottom {
    transform: translate3d(0, 0, calc(var(--depth) * 0.51px));
  }
  .chest-drawer--top {
    top: 5px;
    z-index: 3;
  }
  .chest-drawer--middle {
    top: calc((var(--drawerSize) + 10) * 1px);
    z-index: 2;
  }
  .chest-drawer--bottom {
    top: calc((var(--drawerSize) * 2 + 15) * 1px);
    z-index: 1;
  }
  .chest-drawer details,
  .chest-drawer summary {
    background: #303030;
    cursor: pointer;
    height: 100%;
    left: 0;
    list-style: none;
    position: absolute;
    outline: 0;
    top: 0;
    transition: transform 0.25s;
    transform: translate3d(0, 0, 0);
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 135%;
    font-weight: bold;
    color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .chest-drawer details:after,
  .chest-drawer summary:after {
    background: #adadad;
    content: '';
    height: 5%;
    left: 50%;
    position: absolute;
    top: 10%;
    transform: translate(-50%, 0);
    width: 40%;
  }
  .chest-drawer details::-webkit-details-marker,
  .chest-drawer summary::-webkit-details-marker {
    display: none;
  }
  .chest-drawer details:hover:not([open]) {
    transform: translate3d(0, 0, calc(var(--depth) * 0.05px));
  }
  .chest-drawer details[open],
  .chest-drawer details[open] ~ .chest-drawer__structure {
    transform: translate3d(0, 0, calc(var(--depth) * 0.9px));
  }
  .chest-drawer__panel {
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    width: 100%;
  }
  .chest-drawer__panel--left {
    background: #e6e6e6;
    bottom: 0;
    height: calc(var(--drawerHole) * 0.65px);
    left: 10px;
    transform: translate3d(0, -16px, -2px) rotateY(90deg);
    transform-origin: left;
    width: calc(var(--depth) * 1px);
  }
  .chest-drawer__panel--right {
    background: #e6e6e6;
    bottom: 0;
    height: calc(var(--drawerHole) * 0.65px);
    right: 10px;
    transform: translate3d(0, -16px, -2px) rotateY(-90deg);
    transform-origin: right;
    width: calc((var(--depth) - 3) * 1px);
  }
  .chest-drawer__panel--bottom {
    background: #fff;
    bottom: 18px;
    height: calc(var(--depth) * 1px);
    left: 10px;
    transform: rotateX(90deg) translate3d(0, -2px, 0);
    transform-origin: bottom center;
    width: calc(100% - (2px * 10));
  }
  .chest-drawer__panel--back {
    align-items: center;
    background: #d9d9d9;
    bottom: 16px;
    display: flex;
    font-family: 'Arial', sans-serif;
    font-size: calc(var(--drawerHole) * 0.35px);
    font-weight: bold;
    height: calc(var(--drawerHole) * 0.65px);
    justify-content: center;
    left: 10px;
    transform: translate3d(0, 0, calc((var(--depth) - 2) * -1px));
    width: calc(100% - (2px * 10));
  }
  .chest-drawer__structure {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform-style: preserve-3d;
    transition: transform 0.25s;
    width: 100%;
  }
  .chest-drawer--top .chest-drawer__panel--back {
    color: #111;
  }
  .chest-drawer--middle .chest-drawer__panel--back {
    color: #111;
  }
  .chest-drawer--bottom .chest-drawer__panel--back {
    color: #111;
  }

.nav-rect {
  background: #F7F9F7;
  width: 25rem;
  position: fixed;
  height: 100vh;
  top: 0;
  z-index: 5;
}


/* about me images */
.about {
  padding-top: 4rem;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-left: 10%;
  margin-right: 13%;
}

.image {
  width: 400px;
  /* height:230px; */
  padding: 5px;
  padding-bottom: 10px;
  float: right;
  /* data-mdb-toggle:"animation";
  data-mdb-animation:"slide-in-left"; */
}

.caption {
  float: left;
  padding-top: 30px;
  padding-left: 15px;
}

.img1:hover {
  filter:brightness(50%);
}

/* projects section */
.projects {
  padding-top: 4rem;
}

.container {
	position: relative;
  font-family: "Figtree", sans-serif;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 1em;
	width: 100vw;
	height: 400px;
	transition: all 400ms;
}

.container:hover .box {
	filter: grayscale(100%) opacity(24%);
}

.box {
	position: relative;
	background: var(--img) center center;
	background-size: cover;
	transition: all 400ms;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container .box:hover {
	filter: grayscale(0%) opacity(100%);
}

.container:has(.box-1:hover) {
	grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
}

.container:has(.box-2:hover) {
	grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
}

.container:has(.box-3:hover) {
	grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
}

.container:has(.box-4:hover) {
	grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
}

.container:has(.box-5:hover) {
	grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
}

.box:nth-child(odd) {
	transform: translateY(-16px);
}

.box:nth-child(even) {
	transform: translateY(16px);
}

.box::after {
	content: attr(data-text);
	position: absolute;
	bottom: 20px;
	background: #000;
	color: #fff;
	padding: 10px 10px 10px 14px;
	letter-spacing: 4px;
	text-transform: uppercase;
	transform: translateY(60px);
	opacity: 0;
	transition: all 400ms;
}

.box:hover::after {
	transform: translateY(0);
	opacity: 1;
	transition-delay: 400ms;
}

/*light/dark theme switch*/
input {
	display: block;
	margin-bottom: 1.5em;
}
.l {
	background-color: rgba(0,0,0,0.7);
	border-radius: 0.75em;
	box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.3) inset;
	color: #fdea7b;
	display: inline-flex;
	align-items: center;
	margin: auto;
	padding: 0.15em;
	width: 3em;
	height: 1.5em;
	transition: background-color 0.1s 0.3s ease-out, box-shadow 0.1s 0.3s ease-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.l:before, .l:after {
	content: "";
	display: block;
}
.l:before {
	background-color: #d7d7d7;
	border-radius: 50%;
	width: 1.2em;
	height: 1.2em;
	transition: background-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
	z-index: 1;
}
.l:after {
	background:
		linear-gradient(transparent 50%, rgba(0,0,0,0.15) 0) 0 50% / 50% 100%,
		repeating-linear-gradient(90deg,#bbb 0,#bbb,#bbb 20%,#999 20%,#999 40%) 0 50% / 50% 100%,
		radial-gradient(circle at 50% 50%,#888 25%, transparent 26%);
	background-repeat: no-repeat;
	border: 0.25em solid transparent;
	border-left: 0.4em solid #d8d8d8;
	border-right: 0 solid transparent;
	transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
	transform: translateX(-22.5%);
	transform-origin: 25% 50%;
	width: 1.2em;
	height: 1em;
}
/* Checked */
.l:checked {
	background-color: rgba(0,0,0,0.45);
	box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.1) inset;
}
.l:checked:before {
	background-color: currentColor;
	transform: translateX(125%)
}
.l:checked:after {
	border-left-color: currentColor;
	transform: translateX(-2.5%) rotateY(180deg);
}
/* Other States */
.l:focus {
	/* Usually an anti-A11Y practice but set to remove an annoyance just for this demo */
	outline: 0;
}

/*loader*/
#preloader {
  background: radial-gradient(circle at center, Lavender, #F7F9F7 250px);
  width: 100vw;
  height: 100vh;
  top: 0;
  aspect-ratio: 1;
  z-index: 100;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.loading {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: 0 0;
  animation: load 2s infinite steps(10), rotate 4s infinite linear;
}

@keyframes load {
  to { object-position: 100% 0; }
}

@keyframes rotate {
  to { rotate: -360deg; }
}

/*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 77). 
        
The 'supports' rule will only run if your browser supports CSS grid.

Flexbox is used as a fallback so that browsers which don't support grid will still recieve an identical layout.

*/

.gallery {
	display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer gallery flex items */
	margin: -1rem -1rem;
}

.gallery-item {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 24rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}

/* card component */
.card {
  display: flex;
  flex-direction: row;
  max-width: 750px;
  margin: 20px auto;
  border: 0px;
  border-radius: 0px;
  padding: 20px;
  overflow: hidden;
    /* background-color: #fff; */
  /* border-radius: 5px; */
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card img {
  max-width: 200px;
  height: 250px;
  /* border-radius: 8px; */
}

.card-title {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.card-text {
  font-size: 18px;
  color: #333;
}

.card-date {
  font-size: 18px;
  font-weight: normal;
  color: rgb(182, 182, 182);
  margin-right: 10px;
}

.learn-more {
  margin-bottom:0;
  font-size: 16px;
}